*{
    margin:0;
    padding:0;
    text-align:center;
}
h1{
 color:white;
    background-color: #081b31;
    height:5rem;
    line-height:5rem;
}
.choice{
    width:165px;
    height:165px;
    border-radius:50%;
      display:flex;
    justify-content: center;
    align-items:center;

}
.choice:hover{
 background-color:black;
    cursor:pointer;
}
img{
    width:150px;
    height:150px;
    object-fit:cover;
    border-radius:50%;
}
.choices{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:3rem;
    margin-top:5rem;
}
.score-board{

  display:flex;
    justify-content: center;
    align-items:center;
    font-size:2rem;
    gap:5rem;

}
#user-score,#computer-score{
    font-size:4rem;
    margin-top:5rem;
}
/* msg ko part hai */
.msg-container{
    margin-top:5rem;

}
#msg{
    background-color: #081b31;
    color:white;
    font-size:2rem;
    display:inline;
    padding:1rem;
    border-radius:1rem;
}